<p style="color:green"><%= notice %></p>

<%= render "user" %>

<div>
  <%= link_to "Back to tweets", tweets_path %>

  <%= button_to "Do you really want to disconnect?", @user, method: :delete %>
</div>
