<p style="color:green"><%= notice %></p>

<%= render "user" %>

<div>

  <%= link_to "Back to users", @user, method: :delete, :class => "btn btn-secondary text-decoration-none text-light" %>
<br/> <br/>
  <%= button_to "Do you really want to disconnect?", @user, method: :delete, :class => "btn btn-danger text-decoration-none text-light" %>
</div>

